*{box-sizing: 
    border-box;
}
body{
    width: 100%;
    padding: 0;
    margin: 0 auto;
    background-color:none;
}
.signup-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.signup-logo{
    height: 100px;
}
.signup-content{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.signup-head{
    text-align: center;
}
.signup-base{
    text-align: center;
    background-color: grey;
}
.signup-nav{
    text-align: center;
}