*{
    box-sizing: border-box
}
body{
    width:100%;
    margin: 0 auto;
    padding:0;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center
    
}
.logo{
    height:140px
}


.nav-bar{
    display: flex;
    align-items: center;
}
.nav-bar a{
    padding-right: 40px;
    text-decoration: none;
    color: grey
}

.description{
    text-align: center;
    font-family: fantasy;
    text-align: center;

}

.description p{font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 40px;
     text-align: center;
     padding-left:10%;
     padding-right: 10%;
}
.details{
    padding-top: -20px;
}
.details h2{font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.details address{text-align: center;
    font-style: oblique;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
.foot{text-align: center;
    margin-top: 50px;

}
.foods{display: flex;
flex-wrap: wrap;
width: 100%;
padding-left: 10%;
padding-right: 10%
}

.food-item{
    display: flex;
    flex-direction: column;
    width:25%;
    padding-right: 2%;
}
.food-item img{
height: 50%;
}
.food-item p{
    margin-top: -10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.details{
    background-color: green;
    padding: 10px;
    margin: 50px;
    height: 20px;
}
.foot{
    background-color: green;
}
.bar{
    text-align: center;
    color:red;
    font-size: 20px;
}
.copyright{
    text-align: center;
}
.menu p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
}
.menu h1{
    color: crimson;
    text-decoration-style: wavy;
    text-align: center;
    text-decoration: none;
}
.menu{
    border-top: 50px;
}
img{ float: left;
    border:10px;
    clear: left;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
}
a:hover{
    color:red;
}
a:active{
    color:green;
}
